@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?11ecn1');
  src:  url('fonts/icomoon.eot?11ecn1#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?11ecn1') format('truetype'),
    url('fonts/icomoon.woff?11ecn1') format('woff'),
    url('fonts/icomoon.svg?11ecn1#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-swimming:before {
  content: "\e900";
}
.icon-fitness:before {
  content: "\e901";
}
.icon-trophy:before {
  content: "\e902";
}
.icon-balanca:before {
  content: "\e903";
}
.icon-coins-icon-70600:before {
  content: "\e904";
}
.icon-if_calendar11_216218:before {
  content: "\e905";
}
.icon-if_88_111104:before {
  content: "\e906";
}
.icon-55240:before {
  content: "\e907";
}
.icon-piscine:before {
  content: "\e908";
  color: #4a4a4a;
}
