@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

.pd0 { padding: 0; }
.al-right { text-align: right; }
.hclientes {min-height: 50px}
.footable tr:hover { background-color: #f5f5f5; }

.footable-odd {
  background-color: #FFFFFF;
}


/* profefor inicio */
.prof .prof_num{
    text-align: center

}

.avt_prof {
        width: 32px;
    height: 32px;
    background-size: cover;
    background-position: center top;
    border-radius: 100px;
    float: left;
    margin-right: 10px;
}
.verprof {
     border-radius: 150px;
    background: #000;
    width: 90px;
    height: 90px;
    overflow: hidden;
    text-align: center;
    margin: auto;
}

.indicador_prof{

   background: rgba(27, 179, 148, 0.65);
    color: #fff;
    padding: 2px;
    position: relative;
    width: 100%;
    margin-top: -39px;

}

.indicador_prof span{ font-size: 11px }

.verprof img {  
    width: 90px;
    height: 90px;
}

/* .verprof_sm {
     border-radius: 100px;
    background: #000;
    width: 90px;
    height: 90px;
    overflow: hidden;
    text-align: center;
    margin: auto;

}


.indicador_prof_sm{

   background: rgba(27, 179, 148, 0.65);
    color: #fff;
    padding: 2px;
    position: relative;
    width: 100%;
    margin-top: -38px;

}
.indicador_prof_sm span{ font-size: 11px } */

/* fim */

.painelwig {
    padding: 0 16px 0 16px;
    margin-bottom: 10px;
}

.ruim {background-color: #ed5565;}
.regular { background-color: #fed862; }
.boa { background-color: #1cb394; }
  

.painelwig  .painelBorda {
    border: 1px solid #ccc; padding:0;
      border-radius: 10px; 
      background: #fff;
}
.painelwig1 {
    padding-top: 30px;
    background-color: #1ab394;
    color: #ffffff;
    border-radius: 10px 0 0 10px;
    height: 120px;
}

.painelwig2 {
    padding: 10px 0;
    background-color: #23C6C6;
    color: #ffffff;
    border-radius: 10px 10px 0 0;
    height: 45px;
}


.painelwig3 {
    padding-top: 30px;
    background-color: #ed5565;
    color: #ffffff;
    border-radius: 0px 10px 10px 0px;
    height: 120px;
}


.inputGFM {
       font-size: 28px;
       width: 95px;
       text-align: center;
       margin-bottom: 18px;
       padding: 21px;
}

.textoMaiusculo {
    text-transform: uppercase !important;
}

.quenteCRM {
    padding: 7px;
    border-radius: 20px;
    background: #fd1010;
}
.quentTexto {
    margin-top: 3px; color: #ed5565
}

.neutroCRM {
    padding: 7px;
    border-radius: 20px;
    background: #ccc;
}
.neutroTexto {
    margin-top: 3px; color: #696b6d
}

.ganhouCRM {
    padding: 7px;
    border-radius: 20px;
    background: #21b393;
}

.editprogname {
    margin-left: 4px;
}
#myEmpresa {
    height: 31px;
    padding-top: 3px;
    padding-left: 4px;
    text-transform: uppercase;
}
.selectTreinoNew {
    background: #f6f5f6;
    border: 0;
    width: auto;
        font-weight: normal;
}
.selectTreinoTransparent {
    background: #f6f5f6;
    border: 0;
        font-weight: normal;
   
}
.nobold {
    font-weight: normal;
}

.table_treino {
    min-width: 800px;

}

.table_treino th { padding:  0px 4px; }
.table_treino td{ padding:  4px; }
.table_treino tbody td{ padding-top: 0px; }

.table_treino .bi-serie .nameex {
    padding-left: 30px
}
.table_treino .tri-serie .nameex {
    padding-left: 30px
}

.inputInlineTreino {
    height: 31px; width: 12%; float: left; margin-left: 1%;
}
.inputInlineTreinoNew {
    height: 31px; 
    margin-top: -15px;
}

.table_treino .imgex {
   height: 62px;
    background-color: #fff;
    background-size: cover;
    background-position: center;
    width: 70px;
    float: left;
    margin-right: 4px;
    margin-top: -42px;
}

.table_treino .imgex-bi {
    height: 40px;
    background-color: #fff;
    background-size: cover;
    background-position: center;
    width: 50px;
    float: left;
    margin-right: 4px;
    margin-top: -18px;
}


#outer_wrapper {
    overflow: scroll;
    width: 97%;
    margin-left: 10px;
}
#outer_wrapper #inner_wrapper {
    width:6000px; /* If you have more elements, increase the width accordingly */
}
#outer_wrapper #inner_wrapper div.box { /* Define the properties of inner block */
    width: 232px;
    float: left;
    margin: 0 15px 0 0;
}


/* INICIO CHAT ALT ADR */
.message_eu {
    background-color: rgba(26, 179, 148, 0.21);
    border: 1px solid #e7eaec;
    text-align: left;
    display: block;
    padding: 10px 20px;
    position: relative;
    border-radius: 4px;
}
/* inicio arvore*/
.jstree-open > .jstree-anchor > .fa-folder:before {
    content: "\f07c";
}
.jstree-default .jstree-icon.none {
    width: 0;
}
.espaco_tree {
    list-style: none;
    padding: 0 0 0 20px;
}
.mtr10 {
    margin-right: 5px;
}
.largura_input {width: 75% }
.naomostrar{
    display: none;
}
/* fim arvore*/

.chat-users, .chat-statistic {
     margin-left: 0; 
}

.chat-users {
    overflow-y: auto;
    height: 478px;
}
/* FIM CHAT */

#wrapper {
   
    background: #2f4050;
}
.footable-even{
  background-color: #f9f9f9;
}
.display-no { display:  none; }

.mt-10 { margin-top: -10px;  }

.marcador_exer {
    position: absolute;
    background: rgba(255, 255, 255, 0.88);
    color: #5b5b5c;
    margin-left: -8px;
    /* margin-top: 8px; */
    font-size: 12px;
    font-weight: bold;
    z-index: 2;
    border-radius: 50%;
    padding: 1px 5px;
}

.loader_home{ display:  none; margin-top:20px }
.numero_calendar {     text-align: right;
    color: #1ab394;
    position: relative;
    margin-top: -10px;
    margin-right: -6px;
    font-size: 10px;
 }
 .numero_calendar_cinza { color: #ccc; }
 .calendar_desc{ font-size: 11px !important; border: 0; 
 margin-top: 0;
    float: left;
    padding: 0;
    min-height: 80px !important;
}

.retrair {
      font-size: 11px;
   top: 38px;
    width: 69px;
    position: absolute;
    z-index: 10;
    left: 0;
    text-align: center;
}


  .sidebar-collapse .nav > li:hover {
    background-color:  #293846;
}
.clients-list td { text-align:  left; }
.mgacad_top {
    margin-top: 14px; margin-left: 10px
}
.sidebar-collapse .nav > li {
        padding-bottom: 0px;
    }
    .pd20bt {
         padding-bottom: 20px !important;
    }

select.gfm_data_table { border: 0; height: 38px; 
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
background:  transparent;

}
/* select2 personalizado */
.select2-container--default .select2-selection--single {
    
    border: 1px solid #e0dcdc;
    border-radius: 2px;
    text-align:  center;
}

.select2-container .select2-selection--single {
        text-align:  center;
    height: 35px;
  
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #5f5e5e;
    line-height: 34px;
}
.dataTables-gfm td{
    text-align:  center;

}
.dataTables-gfm-input td{
     text-align:  center;
    margin: 0 !important;
    padding: 0 !important;

}


.dataTables-gfm-input tr td input.simple_gfm{
    border: 0 !important;
    height: 40px;
    padding: 0 3px;
    width: 100%;
    text-align:  center;

}


.dataTables-gfm-input .lcinza td input.simple_gfm{
    background:  #f9f9f9;

}

.dataTables-gfm-input .lbranca td input.simple_gfm{
     background:  #fff;

}


.dataTables-gfm-input td i{
    margin-top: 14px;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    border-top: 1px solid #e7eaec;
    line-height: 1.42857;
    padding: 8px;
    vertical-align: middle;
}
.table .footable-toggle {
    margin: 0;
    padding: 0;
}

.carteira_clientes {
    overflow-y: scroll; height: 674px
}

/* table com topo fixed inicio */
.table-fixed thead {
  width: 97%;
}
.table-fixed tbody {
  height: 305px;
  overflow-y: auto;
  width: 100%;
}
.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
  display: block;
}
.table-fixed tbody td, .table-fixed thead > tr> th {
  float: left;
  border-bottom-width: 0;
}
.table-fixed tbody td{
    padding-left:0
    
}

.rolagem_carteira {
    height: 600px; overflow-y: auto; display: block; width: 100%;
}

.txpor_prof{ overflow-y: scroll; height: 350px }
/* fim  table com topo fixed inicio*/

/* ### MOBILE */
@media (max-width:800px) {
    .tdata_mob {
        padding: 6px 1px;
        font-size: 12px;

    }
    .rolagem_carteira {
        height: 300px; 
    }
    .txpor_prof{ height: 350px }

    .carteira_clientes {
       height: 374px
    }
    
    #wrapper {
        margin-left: 0 !important;
    }

.wizard > .steps > ul > li, .wizard > .actions > ul > li {
    clear: both;
   
}

.wizard > .steps > ul > li {
    width: 100% !important;
}

    .wizard > .steps .current a, .wizard > .steps .current a:hover, .wizard > .steps .current a:active {
  
    display: block;
}

 .marcador_exer {
         z-index: 5;
        margin-top: -8px;
    }

    .ScrrolAba{
        overflow-x: auto;
    }


   

    .tdata_mob_data {
        padding: 6px 1px;
        font-size: 12px;
        text-align: center;
        width: 96%  !important;
        float: right  !important;
        text-align: center !important;
    }

    .mgacad_top {
        margin-left: 0
    }
    .tabs-container .nav-tabs > li {
        float: left !important;
    }

    .tabs-container .panel-body {
       border:0 
    }

    .tabs-container .nav-tabs {
        border-bottom: 0;
    }

    .pd0mg0 {
        padding:  0 ;
        margin: 0;
    }

    .inputInlineTreino {
        height: 31px; width: 18%; float: left; margin-left: 1%;
    }
} /* fim media */


