.auth-page {
  background: #efefef;
}

.auth-form {
  padding: 15px;
  background: #fff;
  p.user-name {
    font-size: 2.5em;
    text-align: center;
  }
  a.link-store img {
    max-width: 100%;
  }
  a.link-store {
    display: inline-block;
  }
  .body-message {
    h1 {
      font-size: 4em;
      font-weight: bold;
      text-align: center;
      border-bottom: 5px solid #ff8e01;
    }
  }
}