.vertical-timeline-icon {
     font-size: 11px !important;
    padding: 12px 0;
    color: #6a6d6f !important;
    font-weight: bold;
}
#vertical-timeline {
  position: relative;
  padding: 0 !important;
  margin: 0 !important;
  width: 100%;
  margin-top: 2em;
  margin-bottom: 2em;
}