form{
  transition:all linear 0.5s;
  background: transparent;
}
input.form-control{
  &.ng-invalid{
    border-color: red !important;
  }

}
.form-control.error {
  border: 1px solid red !important;
}
.help-block.error{
  color: red;
}