.loading{
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.47);
  z-index: 91;
  text-align: center;
  color: #fff;
  padding: 35%;
  transition: 450ms;
}
.is-loading{
  position: relative;
  >.loading{
    display: block;
  }
}