.search-result {
  position: relative;
  padding-left: 100px;
  .search-result-avatar {
    position: absolute;
    left:0;
    top: 50%;
    transform: translateY(-50%);
    width: 80px;
    height: 80px;
    padding: 5px;
    border-radius: 50%;
    overflow: hidden;
    img {
      width:100%;
    }
  }
}