/* csss mensagens */

/* .page_background {
    background-image: url(../img/estrutura/cross.jpg);
}
*/
.conteudo-overlay{
    background-color: rgb(44, 31, 90);

}
.fundo{
    border-top: rgba(253, 253, 253, 0.616) 1px solid;
    
}
.um{
    background-color: rgb(201, 137, 42);
    width: 75%;
    margin-top: 10px;
    margin-left: 12px;
    padding: 5px 5px 1px 5px;
    border-radius: 5px;
    color: black;
}

.dois {
    color: black;
    background-color: rgb(146, 125, 224);
    width: 75%;
    margin-top: 10px;
    margin-left: 75px;
    padding: 5px 5px 1px 5px;
    border-radius:5px;
    
}

.resp{
    color: #fff;
    margin-left: 12px;
    margin-top: 20px;
    font-size: 11px;
}

.mens{
    color: #fff;
    width: 270px;
    height: 70px;
    border: rgba(253, 253, 253, 0.616) 1px solid;
    border-radius: 5px;
    margin-left: 12px;
    padding-left: 10px;

}

.cht{
    color: #fff;
    font-size: 30px;
    padding-top: 15px;
    padding-right: 5px;

}

.avia{
    text-align: center;
    background-color: rgb(201, 137, 42);
    border-radius: 100%;
    height: 60px;
    width: 60px;
    margin-right: 5px;
}