
.conteiner {
    background-color: #281d42;
}

.body {
    background-color: #6449a1;
}

.clube_vantagens {
    background: #ff741f;
    color: #2f1f53;
    text-align: left;
    padding: 8px;
}
.clube_vantagens td {text-align: center}
.alinha_middle {
    display: table-cell;
    vertical-align: middle;
    height: 50px;
}
.nome_mes {
    font-size: 18px;
    text-align: center;
    width: 90px;
    margin-top: 16px;
    color: #3f305e;
    font-weight: 600;
}

.imgperf {
    
    border-radius: 50px;
 
}

.foto_perfil {
    width: 150px;
    height: 150px;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    /* border-radius: 50%; */
}

.dinherio_clube {
    color: #302254;
    font-size: 28px;
    font-weight: 600;
    margin-top: -24px;
}

.clube_vantagens h2 {
    color: #2f1f53;
    font-size: 16px;
    margin: 0;
    font-weight: 400;
}

.dez {
    background-color: #ff9131c9;
    color: rgb(0, 0, 0);
    width: 60%;
    padding: 5px 15px;
    border-radius: 50px;
    margin: auto;
    text-align: center;
    
}

.td{
    width: 25%;
    height: 90px;
    background-color: #281d4271;
    text-align: center;
    color: #fff;
   
}

.diver{
    width: 60%;
    margin-left: 10px;
    margin-top: 20px;
}

.tdd {
    width: 40%;
    height: 90px;
    text-align: left;
    color: #fff;
    background-color: #281d4271;
}

.iconi{
    color: #ff9131c9;
    
}

.aa{
    margin-left: 13px;
    font-size: 13px;
    margin-top: 5px;
}

.ttd {
    width: 25%;
    height: 90px;
    background-color: #523c8571;
    text-align: center;
    color: #fff;
}

.tttd {
    width: 40%;
    height: 90px;
    text-align: left;
    color: #fff;
    background-color: #523c8571;
}

p{
    font-size: 15px;
}