.page_background {
    background-image: url(../img/estrutura/coach.png);
}
.one {
    background-color: rgba(252, 124, 40, 0.2);
    width: 100%;
    height: 78px;
    border-bottom: rgba(255, 255, 255, 0.4) 1px solid; 
}

.two {
    background-color: rgba(252, 124, 40, 0.2);
    width: 100%;
    height: 0.1px;
    border-bottom: rgba(255, 255, 255, 0.4) 1px solid; 
}

.instrutor {
    color: #fff;
    font-weight: normal;
    font-size: 15px;
    text-align: center;
}
