/* csss mensagens */

.page_background {
    background-image: url(../img/estrutura/musculacao.jpg);
}

.border {
    margin-left: 3px;
}

.texto {
    padding-top: 20px;
    text-align: center;
    color: rgba(255, 255, 255, 0.801);
    font-size: 22px;
}

.corllll {
    background-color: rgba(48, 33, 84, 0.75);
    border-left: rgb(104, 48, 177);
    padding:  5px 0 ;
    margin-top: 10px;
}

.corllll h2 {
	color: #fff;
    font-size: 14px;
    margin-top: 10px;
}

.conquista_titulo {
	text-align: center;
    padding-top: 10px;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 15px;
}