/* csss mensagens */

.page_background {
    background-image: url(../img/estrutura/cross.jpg);
}

.border {
    margin-left: 3px;
}

.texto {
    padding-top: 60px;
    text-align: center;
    color: rgba(255, 255, 255, 0.801);
    font-size: 22px;
}

.nome {
    padding-top: 50px;
    color: rgba(255, 255, 255, 0.801);
    font-size: 20px;
    width: 80%;
    border-bottom: rgba(255, 255, 255, 0.801) 1px solid;
    margin-left: 35px;
    padding-left: 10px;
    margin-bottom: 30px;
}

.escr {
    margin-top: 10px;
    border: rgba(255, 255, 255, 0.801) 1px solid;
    color: rgba(255, 255, 255, 0.801);
    width: 80%;
    height: 100px;
    margin-left: 35px;
    padding: 10px 10px 10px 10px;
    font-size: 18px;
}

.iniciar {
    margin: 10px 105px;
    background-color: rgb(65, 16, 121);
    color: rgba(255, 255, 255, 0.801);
    width: 70%;
    padding: 5px 15px;
    border-radius: 50px;
    text-align: center;
    height: 50px;
    margin: 10px 55px;
    padding-top: 12px;
}
