/* csss mensagens */

.page_background {
    background-image: url(../img/estrutura/corrida.jpg);
}

.texto_desc {
    background-color: rgba(116, 80, 148, 0.45);
    color: #fff;
    height: 100px;
    border-top: rgba(255, 255, 255, 0.4) 1px solid;
}

.texto_desc p {
    font-size: 15px;
    color: white;
    padding: 20px;
}

.cont {
    height: 150px;
}

.partiu {
    background-color: #ff9131c9;
    color: #fff;
    width: 45%;
    padding: 5px 15px;
    border-radius: 50px;
    margin: auto;
    text-align: center;
    margin-top: -16px;
    margin-bottom: 30px;
}

.regis {
    color: #fff;
    font-size: 20px;
    text-align: left;
    padding-left: 15px;
}

.circ {
    background-color: #ff9131c9;
    color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    text-align: center;
    padding-top: 10px;
    margin-left: 15px;
}

.dist {
    color: #ff9131c9;
    padding-top: 10px;
    padding-left: 10px;
    font-size: 20px;
}

.km {
    color: #fff;
    text-align: center;
    font-size: 22px;
    margin-bottom: 20px;
    border-bottom: rgba(255, 255, 255, 0.548) 1px solid;
    width: 100px;
    margin-left: 20px;
}

.kmm {
    font-size: 26px;
}

.branco {
    font-size: 40px;
    color: #ff9131c9;
    margin-left: 20px;
}

.dia_aula {
    color: #fff;
    font-size: 18px;
    font-weight: normal;
    padding-left: 15px;
}

.data_aula {
    color: #fff;
    font-weight: normal;
    font-size: 15px;
    padding-left: 5px;
}

.ico{
    color: rgba(255, 255, 255, 0.4);
    font-size: 35px;
    margin-right: 40px;
    border-left: 50px;
    padding-left: 10px;
    
}

.min {
    color: #fff;
    padding-right: 10px;
    
}

.one {
    background-color: rgba(41, 30, 67, 0.8);
    width: 100%;
    height: 79px;
    border-bottom: rgba(255, 255, 255, 0.4) 1px solid;
    
}




