/* csss mensagens */

.page_background {
    background-image: url(../img/estrutura/cross.jpg);
}

.border {
    margin-left: 3px;
}

.esp_img {
    padding: 0 10px;
}

.img {
    width: 60px;
}

.data_aula {
    color: #fff;
    font-weight: normal;
    font-size: 15px;
}

.dia_aula {
    color: #fff;
    font-size: 20px;
    font-weight: normal;
    padding-left: 10px;
}

.branco {
    color: rgba(255, 255, 255, 0.4);
    font-size: 40px;
    margin-right: 50px;
    
}

.linha_cross_sim {
    background-color: rgba(41, 30, 67, 0.8);
    width: 100%;
    height: 80px;
    border-bottom: rgba(255, 255, 255, 0.4) 1px solid;
    
}

.linha_cross_sim td {
    text-align: left;
}

.linha_cross_nao {
    background-color: rgba(79, 27, 84, 0.6);
    width: 100%;
    height: 80px;
    border-bottom: rgba(255, 255, 255, 0.4) 1px solid;
}


.texto_desc p {
    font-size: 15px;
    color: white;
    padding: 20px;
}

.al_direito {
    text-align: right !important;
    padding-right: 10px
}

.texto_desc{ 
    background-color:rgba(116, 80, 148, 0.45);
    color: #fff;
    height: 135px;
    border-top: rgba(255, 255, 255, 0.4) 1px solid;
    
}
.partiu {
    background-color: #ff9131c9;
    color: #fff;
    width: 45%;
    padding: 5px 15px;
    border-radius: 50px;
    margin: auto;
    text-align: center;
    margin-top: -16px;
    margin-bottom: 30px;
    
}

.iniciar {
    background-color: rgba(70, 255, 53, 0.733);
    color: #fff;
    width: 45%;
    padding: 5px 15px;
    border-radius: 50px;
    margin: auto;
    text-align: center;
    margin-bottom: 20px;
}

.crnmetro {
    color: #fff;
     text-align: center;
     font-size: 44px;
     margin-bottom: 20px;
}
.zero_min {
     font-size: 26px;
}

.min{
    color: #fff;
    text-align: center;
    padding-right: 20px;
}

al_direito .checkicone {
    height: 50px;
    height: 20px;


}
