/* csss mensagens */

/* .page_background {
    background-image: url(../img/estrutura/cross.jpg);
}*/

.top{
    width: 100%;
    height: 150px;
    background-color: rgb(238, 131, 69);
    padding-top: 8px;
}

.img{
    width: 90px;
    height: 90px;
    border-radius: 100%;
    margin-top: 10px;
    
}

.iimg{
    width: 90px;
    height: 90px;
    border-radius: 100%;
    
}

.aqua{
    text-align: center;
    color: #3f2e65;
    font-size: 20px;
    
}

.equip{
    padding-top: 8px;
    text-align: center;
    height: 100px;

}

.equip h4{
    text-align: center;
    color: #fff;

}

.cont{
    color: #fff;
    padding-left: 15px;
    padding-top: 60px;
    
}

.cnt{
    width: 100%;
    color: #fff;
    font-size: 12px;
    line-height: 1px;
    height: 100px;

}

.cont p{
    text-decoration: underline;
}

.ico{
    margin-bottom: 12px;
}

.mod{
    width: 100%;
    color: #fff;
    padding-top: 10px;
    font-size: 15px;
    text-align: center;
}