/* csss mensagens */

/* .page_background {
    background-image: url(../img/estrutura/cross.jpg);
}*/

.top {
    width: 100%;
    height: 140px;
    background-color: rgb(67, 57, 116);
    border-top: rgba(255, 255, 255, 0.479) 1px solid;
    color: #fff;
    text-align: center;
}

.img {
    width: 140px;
    height: 140px;
    border-radius: 100%;
}

.conte{
    background-color: rgb(45, 37, 83);
    height: 100px;
   
}

.um{
    width: 100%;
    height: 70px;
    background-color: rgb(67, 57, 116);
    padding-top: 20px;
}

.dois{
    width: 100%;
    height: 50px;
    background-color: rgb(45, 37, 83);
    text-align: center;
}

.tres{
    width: 100%;
    height: 191px;
    background-color: rgb(67, 57, 116);
   

}

.one{
    background-color: rgb(196, 95, 28);
    height: 30px;
    width: 30px;
    border-radius: 50px;
    margin-left: 10px;
    margin-top: 10px;
    text-align: center;
    padding-top: 5px;
}

.two{
    color: #fff;
    border: 1px rgba(255, 255, 255, 0.363) solid;
    width: 135px;
    border-radius: 5px;
    font-size: 14px;
    height: 30px;
    margin-top: 10px;
    padding-top: 5px;
    padding-left: 10px;
    margin-right: 10px;

}

.three {
    color: #fff;
    border: 1px rgba(255, 255, 255, 0.363) solid;
    width: 135px;
    border-radius: 5px;
    font-size: 14px;
    height: 30px;
    margin-right: 10px;
    margin-top: 10px;
    padding-top: 5px;
    padding-left: 10px;
}