@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    padding: 0;
    margin: 0;
    background-color: #333;
    font-family: 'Roboto', sans-serif;
}

.page_background {
    background-image: url(../img/bg.png);
    background-color: #281d42;
    background-size: cover !important;
     background-position: center top;
}

.menu_tema {
    width: 360px;
    margin: auto;
    height: 665px
}


.conteudo-overlay {
    background-color: rgba(51, 35, 84, 0.90);
    height: 550px
    /* height: 100vh; */
}


.espaco_btncor {
    height:32px; border: 0
}

.btn_salvar_como {
    height: 110px;
    float: right;
    width: 100%;
}
header {
    background-color: #30214c;
    color: #fff;
}

header h2 {
    color: #fff;
    text-align: center;
    font-size: 14px;
    margin-top: 16px;
}

header .menu-bar {
    color: #fc7c28;
    font-size: 24px;
    margin: 10px;
}

footer {
    background-color: #221541;
    color: #7d52da;
    height: 40px;
    line-height: 40px; 
    text-align: right;
    padding-right: 16px
}

@media (max-width:800px) {
    .menu_tema {
         margin-left: -35px;
    }
    .btn_salvar_como {
        height: 140px
    }
    .espaco_btncor {
        margin-top: 10px;
    }

}