/* csss da home */

.profile-card{
    padding-top: 30px;
}

.foto_perfil {
    width: 150px;
    height: 150px;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    /* border-radius: 50%; */
}

.profile_pic_inner {
    width: 100%;
    height: 100%;
    position: absolute;
    background: black;
}

.mdfoto {
    position: absolute;
    background: rgba(23, 22, 22, 0.75);
    z-index: 0;
    bottom: 0;
    width: 100%;
    height: 20px;
    box-shadow: 0 0 35px -3px #000;
    color: #fff;
    padding-top: 6px;
    text-align: center;
}
.profile-name {
    text-align: center;
    margin: 10px 0 0 0;
    font-weight: 600;
    font-size: 17px;
    color: #fff;
}
.profile_pic img {
    width: 100%;
    height: 100%;
    background: #000;
    position: absolute;
    top: 0;
    left: 0;
}

.profile_pic {
    margin: auto;
    display: block;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    background: #000;
    position: relative;
    overflow: hidden;
    border: 2px solid #000;
    box-shadow: 0 0 60px -7px #000;
}