/* csss mensagens */

.conteiner{
    background-color: #281d42;

}

.row h1{
    text-align: center;
    font-size: 23px;
    
}

.body{
    background-color: #6449a1;

}

.border{
    margin-left: 3px;
}

.img {
    
    width: 70px;
    border-radius: 100%;
    padding-right: 10px;
    
}

.linha_corsim, .linha_cornao{
    width: 100%;
    
}

.one, h3{
    text-align: center;
    color: white;
    font-size: 18px;
    
}

p {
    text-align: center;
    color: white;
    font-size: 10px;
    
}


.two{
    background-color: #3f2e65;
    width: 100%;
    
    
}

.two, h3 {
    text-align: center;
    color: white;

    
}

.three{
   
    height: 95px;
}

