.conteiner {
    background-color: #281d42;
}

.body {
    background-color: #6449a1;
}

.barra {
    background: #3f3f3f;
    text-align: left;
    width: 250px;
    
    
}

.img {
    margin-left: 10px;
    width: 45px;
    border-radius: 100%;
    
    
}

.col{
    
    height: 70px;
    border-bottom: rgba(255, 255, 255, 0.4) 1px solid;
    color: #fff;
}

.col-img {
    height: 59px;
    border-bottom: rgba(255, 255, 255, 0.4) 1px solid;
    color: #fff;
}

.barra .col .ttd {
    padding-left: 15px;
    
}

.barra .col-img .ttd {
    padding-left: 15px;
}

.coment{
    font-size: 40px;
    margin-left: 10px;
}
