/* The Modal (background) */
.tabela {
    width: 100%;
    color: #4c3274;
    text-align: center;
    margin-top: 30px;
}
.tabela td{ 
    width: 50%;
}
.modal {
    display: block;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 4;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content/Box */

.modal-content {
    background-color: #ff7c2b;
    text-align: center;
    color: #fff;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    /* border: 1px solid #888; */
    width: 290px;
    /* Could be more or less, depending on screen size */
}
.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}
/* The Close Button */

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}