/* csss mensagens */

.page_background {
    background-image: url(../img/estrutura/musculacao.jpg);
    color: #fff;
}
.treino_a { 
    overflow: hidden; 
    
}

table {
    width: 100%;
    
}

table td { 
    color: #fff; }

.musculacao .linha_treino {
    background: #1d1236;
    height: 49px;
    margin-left: -10px;
    margin-top: -50px;
    

}

.musculacao .linha {
    padding: 40px 0;
    margin: 0;
}

.musculacao .linhagbg2 {
    background: rgba(48, 33, 84, 0.233);
    height: 320px;
}

.musculacao .linhagbg {
    background: rgba(48, 33, 84, 0.79);
    height: 230px;
}

.musculacao .duracao {
    font-size: 12px;
}

.musculacao .bicps {
    margin-top: 10px;
    font-size: 16px;
}

.musculacao .bicps, .duracao {
    padding-left: 20px;
    line-height: 24px;
}

.bt_iniciar_opaco {
    background-color: #5e4c8a;
    border: 0;
    border-radius: 20px;
    padding: 4px 12px;
    color: #1d1236;
    font-size: 14px;
    font-weight: bold;
    width: 85%;
    opacity: 0.6;
}
.circulo-laranja {
    background: #ff7d2a;
    padding: 27px 10px 12px 30px;
    color: #302154;
    border-radius: 50px;
    font-size: 32px;
    /* position: absolute; */
    width: 100px;
    height: 100px;
    top: 0;
    margin-left: -50px;
    margin-bottom: 90px;
    float: left;
}

.btnovo2 {
    background-color: #35b729;
    border: 0;
    border-radius: 20px;
    padding: 4px 12px;
    color: #FFF;
    font-size: 14px;
    font-weight: bold;
    width: 90%;
    float: right;
    margin-right: 10px;
}

.circulo-roxo {
    background: #1d1236;
}


