/* csss mensagens */

.page_background {
    background-image: url(../img/estrutura/natacao.jpg);
}

.conteiner {
    background-color: #281d42;
}

.body {
    background-color: #6449a1;
}

.border {
    margin-left: 3px;
}

.esp_img {
    padding: 0 10px;
}

.img {
    width: 60px;
}

.nome_aula {
    color: #fff;
    font-weight: normal;
}

.hr_aula {
    color: #fff;
    font-size: 30px;
    font-weight: normal;
}

.branco {
    color: #ff9131;
    font-size: 30px;
    margin-top: 20px
}

.cor_impar_spm {
    background-color: rgba(41, 30, 67, 0.8);
    width: 100%;
}

.cor_impar_spm td {
    text-align: left
}

.cor_par_spm {
    background-color: rgba(79, 27, 84, 0.6);
    width: 100%;
}

p {
    padding-top: 40px;
    font-size: 10px;
    color: white;
}

.al_direito {
    text-align: right !important;
    padding-right: 10px
}

.menu_gmf {
    width: 100%
}

#menu_aulas_gfm .menu_gmf td {
    width: 14.28%;
    background-color: #ff9131;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    border-right: #30224c 1px solid;
}