/* csss mensagens */

.page_background {
    background-image: url(../img/estrutura/musculacao.jpg);
}

.diahoje {
    background: #ff9537 !important;
    color: #fff !important;
}

.linha_psa {
     text-align: center;
     padding-top: 20px
}
.alinhar_table {
    width: 90%;
    margin: auto;
}
.dia_semana {
width: 90%;
    margin: auto;
    text-align: center;
    font-size: 16px;
    padding: 5px;
    font-weight: bold;
    background: #3f305f;
    color: #fff;
}

.dia_linha_psa td {
    text-align: left;
    font-size: 12px;
    padding: 5px;
    font-weight: bold;
}

.dia_linha_psa td.hora_semana {
    background: #d5d5d5;
    text-align: center;
    color: #333;
    font-size: 14px;
}

.dia_linha_psa td.des_aula_psa {
    font-weight: normal;
    font-size: 14px;
        background: #fff;
}

