/* csss mensagens */

/* .page_background {
    background-image: url(../img/estrutura/cross.jpg);
}*/

.top {
    width: 100%;
    height: 280px;
    background-color: rgba(45, 37, 83, 0.671);
    padding-top: 8px;
    border-top: rgba(255, 255, 255, 0.479) 1px solid;
    color: #fff;
    text-align: center;
}

.img {
    width: 130px;
    height: 130px;
    border-radius: 100%;
    
}

.princ{
    /* margin-top: 30px; */
    color: #fff;
    text-align: center;
    line-height: 14px;
}

.reservar {
    background-color: rgb(72, 43, 126);
    color: #fff;
    width: 90%;
    border-radius: 50px;
    margin: auto;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
    height: 50px;
    text-align: center;
    padding-top: 13px;
    font-size: 18px;
}