.musc{
    background-image: url(../img/selecao/musculacao.png);
    width: 100%;
    height: 33.3%;
    text-align: center;
    color: #fff;
    font-size: 25px;
    border-bottom: rgba(255, 255, 255, 0.452) 1px solid;
    border-top: rgba(255, 255, 255, 0.452) 1px solid;
    background-size: cover;
}

.ginas{
    background-image: url(../img/selecao/ginastica.png);
    width: 100%;
    height: 33.3%;
    text-align: center;
    color: #fff;
    font-size: 25px;
    border-bottom: rgba(255, 255, 255, 0.452) 1px solid;
    background-size: cover;

}

.nat{
    background-image: url(../img/selecao/natacao.png);
    width: 100%;
    height: 33.4%;
    text-align: center;
    color: #fff;
    font-size: 25px;
    border-bottom: rgba(255, 255, 255, 0.452) 1px solid;
    background-size: cover;

}

.trophy_inside {
    margin-top: 34px;
}
.trophy_inside  span {
    font-size: 74px;
    color: #ff9700;
}
.cor_linha {
  background-color: rgba(221, 101, 101, 0.52);
    padding-top: 80px;
    height: 100.2%;
}

.cor_linha_par{  background-color: rgba(58, 48, 48, 0.52); }
.colun{
    width: 25%;
    height: 185px;
    background-color: #281d42;
    margin-top: -183px;
    border-bottom: rgba(255, 255, 255, 0.452) 1px solid;
    border-top: rgba(255, 255, 255, 0.452) 1px solid;
    
}

.img{
    height: 70px;
    margin-top: 55px;

    
}

.xx{
    text-align: left;
    margin-right: 60px;
    color: rgba(255, 255, 255, 0.568);
    margin-top: 30px;
}

.num{
    position: absolute;
    margin-left: 38px;
    margin-top: -68px;

}