/* csss mensagens */

.conteiner {
    background-color: #281d42;
}

.body {
    background-color: #6449a1;
}

.tab{
    background-color: rgba(243, 180, 64, 0.308);
    width: 100%;
    height: 100px;
    border-top: rgba(255, 255, 255, 0.548) 1px solid;
    text-align: left;
}

.tabb{
    width: 100%;
    height: 100px;
    background-color: #281d42a8;
}

.tabbb {
    width: 100%;
    height: 100px;
    background-color: #2a203f54;
}

.img{
    width: 60px;
}

.abdom {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    margin: 7px 7px 7px 7px;
}

.p {
    width: 100%;
    font-size: 20x;
    color: #fff;
    
}
.pp {
    width: 100%;
    font-size: 20x;
    color: #fff;
    margin-left: 30px;
}

.iconi {
    color: #ff9131c9;
    font-size: 20px;
}