<template>
    <div class="chat-users">
        <div class="users-list" :class="{ loading:!userLoaded }">

            <div class="chat-user" :class="{ active:talking(people.id) }"  v-for="(people, index) in peoples" >
                <img class="chat-avatar img-circle" :src="people.avatar"
                     alt="">
                <div @click="openTalk(people)" class="chat-user-name">
                    <a href="#">{{ people.name }}</a>
                </div>
                <span class="new_message" v-show="people.new_message">{{ people.new_message }}</span>
            </div>

        </div>

    </div>
</template>
<script>
    export default {
        name: 'chat-users',
        props: [ 'peoples', 'user_talk' ],

        methods: {
            openTalk(user) {
                Event.fire( 'openTalk', user)
            },
            talking(id) {
                if (this.user_talk) {
                   return (this.user_talk.id == id);
                }

                return false;
            },
            newMessage(data) {
                let people =  this.peoples.filter(people => data.id == people.id)[0]
                console.log(people)
                return people.new_message
            }
        },
        computed: {
            userLoaded() {
                if (Object.keys(this.peoples).length === 0) {
                    return false
                }
                    return true
            }
        }
    }
</script>

<style scoped>
    .chat-user {
        cursor: pointer;
        transition: 350ms;
        position: relative;
    }
    .chat-user:hover {
        background: #f3f3f4;
    }
    .chat-user.active {
        background: #19aa8c !important;
        color: #fff;

    }
    .chat-user.active span.new_message {
        background: #fff;
        color: #19aa8b;
    }
    span.new_message {
        background: #19aa8b;
        color: #fff;
        /* padding: 3px; */
        height: 20px;
        min-width: 20px;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;
        border-radius: 50%;
    }
</style>