<template>
    <div class="chat-discussion" :class="{loading:loading}" v-if="talking">
        <div class="chat-message left" v-for="(message, index) in talk">
            <div :class="{ message_eu:isMyMessage(message.sender_id), message_received:!isMyMessage(message.sender_id) }" v-if="message.created_at">
                <div class="message_wrapper">
                    <a class="message-author" href="#"> {{ isMyMessage(message.sender_id) ? 'Você ' : message.sender.name }} disse</a>
                    <span class="message-date" v-if="message.created_at"> {{ fromNow(message) }} </span>
                    <span class="message-content">
                    {{ message.message }}
                </span>
                    <div v-if="isVisualized(message)" class="visualized">
                        <i class="fa fa-check" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="chat-discussion not-messages" v-else>
        Selecione um contato ao lado para iniciar uma conversa
    </div>

</template>
<script>
    export default {
        name: 'chat-messages',
        props: {
            talk: {},
            talking: false,
            userid:null,
            loading:false
        },
        methods: {
            fromNow: function (date) {
                if (date.created_at) {
                    return moment(date.created_at.date).fromNow()
                }
            },

            isMyMessage: function(sender) {
                return this.userid == sender
            },

            isVisualized: function(message) {
                return message.opened;
            },

            scrollWindow() {
                let window = $('.chat-discussion')
                window.scrollTo(0)
            }

        },
        computed: {

        },
        mounted() {
            $('.chat-discussion').on('resize', this.scrollWindow);
        }
    }
</script>
<style scoped>
    .visualized {
        text-align: right;
        font-size: 10px;
        color: #149a7c;
    }

    .message_eu {
        background: transparent;
    }

    .chat-discussion.loading:before {
        content: 'Carregando mensagens...';
        position: absolute;
        left: 50%;
        top: 50%;
        color: #19aa8b;
        transform: translate(-50%, -50%);
        background: #fff;
        padding: 15px;
        box-shadow: 0px 2px 8px -3px #ccc;
    }
    .message_wrapper {
        display: inline-block;
        padding: 10px 15px;
        background: #fff;
        border-radius: 5px;
    }
    .message_received {
        text-align: right;
    }
    .message_eu .message_wrapper {
        background: #19aa8b14;
    }
    a.message-author {
        margin-right: 8px;
        font-size: 13px;
    }
    .message-content {
        display: block;
        font-size: 14px;
        padding: 3px;
        text-align: left;
    }
    .chat-discussion.loading {
        display: block;
        position: relative;
    }
</style>
