<template>
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12" style="overflow: auto;">
                <div class="ibox" style="overflow: auto; min-width: 700px">
                    <chat-header :user="userData" :talk="talk" :user_talk="user_talk"></chat-header>

                    <div class="ibox-content" style="overflow: auto; min-width: 700px">
                        <div class="row" style="overflow: auto; min-width: 700px">
                            <div class="col-xs-3 col-md-3">
                                <chat-users :user_talk="user_talk" :peoples="peoples"></chat-users>
                            </div>
                            <div class="col-xs-9 col-md-9 ">
                                <chat-messages :loading="loading" :userid="userid" :talking="talking" :talk="talk"></chat-messages>
                                <transition>
                                    <div v-show="talking">
                                        <chat-compose :message="message" :user_talk="user_talk" :talk="talk"></chat-compose>
                                    </div>
                                </transition>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import { routes } from './config'
    import { unity, findPersonMessages, sendMessage, setRead, checkNewsUserMessages } from './Http'

    import ChatUsers from './ChatUsers.vue'
    import ChatMessages from './ChatMessages.vue'
    import ChatHeader from "./ChatHeader.vue";
    import ChatCompose from "./ChatCompose.vue";

    export default {
        name: 'chat',
        props: ['userid', 'idunidade', 'user'],
        components:{
            ChatCompose,
            ChatHeader,
            ChatUsers,
            ChatMessages
        },
        data() {
            return {
                peoples: [],
                user_talk: null,
                talk: [],
                loading: false
            }
        },
        mounted() {
            Event.listen( 'openTalk', this.openTalk)
            Event.listen( 'sendMessage', this.sendMessage)
            window.setInterval(this.checkNews, 10000)
            window.setInterval(this.watchNewMessages, 1000)
            this.initialize()
                .then(response => {
                    console.log(response[0].data.data[0].persons)
                    this.peoples = response[0].data.data[0].persons.data
                    Event.fire( 'openTalk', this.peoples[0])
                })
                .catch( err => console.log( err ))
        },
        computed:{
            userData() {
                return JSON.parse(this.user)
            }
        },
        methods: {

            initialize() {
                let initMethods =[unity(this.idunidade)]

                return Promise.all(initMethods)
            },

            openTalk( person ) {
                let id = person.id

                this.loading = true
                this.user_talk = person

                findPersonMessages(id)
                    .then(response => {
                        this.talk = response.data.data
                        this.loading = false
                        this.setRead(id)
                    }).catch(err => {
                        console.log(err.response)
                })

            },

            setRead(sender_id) {
                console.info('Marcando menssagens como lidas')
                let messages = this.talk.filter( message => message.sender_id != this.userid && message.sender_id == sender_id && !message.opened)
                messages.forEach(message => {
                    setRead(message.id)
                    message.opened = true
                })
            },

            sendMessage( data ) {
                if (data) {

                    let message = data;
                    let receiver_id = this.user_talk.id

                    sendMessage( message, receiver_id )
                        .then( response => {
                            this.talk = response.data.data
                        } )
                }
            },

            watchNewMessages()
            {
                if (this.user_talk && this.newMessage(this.user_talk)) {
                    this.openTalk( this.user_talk )
                }
            },
            newMessage(data) {
                let people =  this.peoples.filter(people => data.id == people.id)[0]
                return people.new_message
            },
            checkNews() {
                console.log('checando novas mensagens')
                let promisses = []
                this.peoples.forEach( people => {
                    checkNewsUserMessages(people.id).then(response => {
                        if (response.data.data) {
                            return people.new_message = response.data.data.length
                        }
                        return people.new_message = 0
                    })
                });
            }

        },
        computed: {

            talking() {
               return this.user_talk;
            }

        }
    }
</script>