<template>
    <div class="ibox-title">
        <div class="col-xs-3 col-md-3">
            <div v-if="user_talk"> Conversando com :</div>
        </div>
        <div class="col-xs-9 col-md-9">
            <div v-if="user_talk">
                <img class="chat-avatar img-circle img-circle" style="width: 25px; height: 25px"
                     :src="user_talk.avatar" alt=""> <b>{{ user_talk.name }}</b>
                <small class="pull-right text-muted">Última mensagem: {{ last_message }}</small>
            </div>
        </div>
    </div>
</template>
<script>

    export default {
        name: 'chat-header',
        props: [ 'user', 'talk', 'user_talk' ],
        computed: {

            userData(){
              console.log(this.user)
              return this.user
            },

            last_message: function () {
               let last = this.talk[0];
               if (last) {
                   return moment(last.created_at.date).fromNow()
               }
            }
        }
    }
</script>