<template>
    <div class="row" style="    background: #eee;padding: 10px;margin: 0;">
       <div class="col-lg-10" style="margin: 0">
            <div class="chat-message-form">
                <div class="form-group">
                    <form v-on:submit.prevent="sendMessage()">
                        <textarea v-on:keydown.enter="sendMessage()" v-model="message" class="form-control message-input" name="message" placeholder="Digite uma mensagem"></textarea>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-lg-2" style="text-align: center;">
            <i @click="sendMessage()" class="fa fa-paper-plane-o" aria-hidden="true" style="font-size: 24px;margin-top: 20px;"></i>
        </div>
    </div>
</template>
<script>
    export default {
        name: 'chat-compose',
        data() {
            return {
                message: null
            }
        },
        methods: {
            sendMessage() {
                Event.fire('sendMessage', this.message)
                this.message = null;
            }
        }
    }
</script>