.fixed {
    position: fixed;
    top: 15px;
    padding-right: 39px;
}
#dia_atual, #dia_atual textarea {
    background: #f4f4f4;
}
.tarefa_finalizada {
    text-decoration: line-through;
}
.table-responsive {
    display: block;
    overflow-x: auto;
}
.dd-handle {
    overflow: hidden;
}
@media screen and (max-width: 400px) {
    .form-control, .single-line {
        padding: 6px 3px !important;
        font-size: 12px !important;
    }
}
.table-bottom {
    border-bottom: 4px solid #fff;
}
.jstree-open>.jstree-anchor>.fa-folder:before {
    content: "\f07c";
}
.jstree-default .jstree-icon.none {
    width: 0;
}
.divOculta {
    display: none;
}
.dd-item>button {
    font-size: 22px;
    margin-top: 3px;
    width: 100%;
    position: absolute;
    text-align: left;
}
.dd-item>button:before {
    content: '+';
    display: block;
    position: absolute;
    width: 100%;
    text-align: left;
    text-indent: 0;
    padding-left: 8px;
}
.dd3-content {
    padding: 5px 10px 5px 27px;
    overflow: hidden;
}